[submodule "submodule/nda-tools"]
	path = submodule/nda-tools
	url = https://github.com/heyyuhao/nda-tools.git
[submodule "submodule/pain-disparities"]
	path = submodule/pain-disparities
	url = https://github.com/heyyuhao/pain-disparities.git
